<aside>
  <a href="/"><img class="photo" alt="photo" src="/assets/me.jpeg"/></a><p><a href="https://twitter.com/Rio_Alexandre">@Rio_Alexandre</a>,<br />Élève ingénieur en Informatique</p><br />

  <ul id="aside-list">
    <li id="github-item"><a href="https://github.com/AlexandreRio">AlexandreRio</a></li>
    <li id="viadeo-item"><a href="http://fr.viadeo.com/fr/profile/alexandre.rio4">Viadeo</a></li>
  </ul>
  <p>Pour me contacter, utilisez cette clé <a href="/pubkey.asc">gpg</a> ID: 0x0F466888 :</p>
  <p><img alt="email address" src="/assets/mail.png"/></p>
  <br />
  <p>Payez-moi un café :
  Ð:<a class="crypto_link" href="dogecoin://DBAucFoQq5nspcBdUm9JCinp1gouBWvjhk">DBAucFoQq5nspcBdUm9JCinp1gouBWvjhk</a><br />
  Ƀ:<a class="crypto_link" href="bitcoin://1Gb6Ytc3tnwk4vretbdzA2ovS4nzjqwi3L">1Gb6Ytc3tnwk4vretbdzA2ovS4nzjqwi3L</a></p>
  <a href="https://flattr.com/submit/auto?user_id=Orbital&url=http%3A%2F%2Falexrio.fr" target="_blank"><img src="//api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0"></a>
</aside>
