<aside>
  <a href="/"><img class="photo" alt="photo" src="/assets/me.jpeg"/></a><p>Alexandre Rio, étudiant en Informatique</p><br />
  <p>Je <a href="https://twitter.com/Rio_Alexandre">tweet</a>, je <a href="https://github.com/AlexandreRio">code</a> et
  je <a href="https://build.opensuse.org/project/subprojects/home:OrbitalRio">package</a> ; si vous voulez en savoir plus sur mon
  <a href="http://fr.viadeo.com/fr/profile/alexandre.rio4">parcours pro'.</a> </p>
  <p>Vous pouvez aussi me contacter à cette adresse en utilisant cette clé <a href="/pubkey.asc">gpg</a> ID: 0x0F466888 :</p>
  <p><img alt="email address" src="/assets/mail.png"/></p>
</aside>
