<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport"     content ="width=device-width, initial-scale=1.0"/>
    <meta name="author"       content ="Alexandre Rio"/>
    <meta name="description"  content ="Blog personnel Alexandre Rio"/>
    <meta name="Keywords"     content ="Alexandre Rio OpenSource IT software student"/>
    <meta name="twitter:site" content ="@Rio_Alx">
    <meta charset="utf-8">
    <link href="/css/style.css"  rel ="stylesheet"/>
    <link href="/css/syntax.css" rel ="stylesheet"/>
    <link rel="alternate" type="application/rss+xml" title="Flux d'articles" href="/feed.xml"/>
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include aside.html %}
    {{ content }}
  </body>
</html>
